@model Library.Data.Models.Book
@using System.Web.Hosting;

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>

    <hr />

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4 image-preview">
                @{ var img = Model.ImageUrl;
                    var path = HostingEnvironment.MapPath(@"~/img/books/" + img);}
                @if (img != "none" && File.Exists(path))
                {
                    <img src="~/img/books/@Model.ImageUrl" alt="@Model.Title" />
                }
                else
                {
                    <img src="~/img/none.jpg" alt="@Model.Title" />
                }
            </div>
            <div class="col-md-4">
                <p id="itemTitle">@Model.Title</p>
                <p id="itemAuthor">@Model.Author</p>

                <table class="table-info">
                    <tr>
                        <td>Genre:</td>
                        <td>@Model.Genre</td>
                    </tr>
                    <tr>
                        <td>Year:</td>
                        <td>@Model.Year</td>
                    </tr>
                    <tr>
                        <td>Publisher:</td>
                        <td>@Model.Publisher</td>
                    </tr>
                    <tr>
                        <td>Price:</td>
                        <td>$ @Model.Price</td>
                    </tr>
                    <tr>
                        <td>Count:</td>
                        <td>@Model.NumbersOfCopies</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table-isbn-info">
                    <tr>
                        <td class="itemLabel">ISBN:</td>
                        <td class="itemValue">@Model.ISBN</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p id="itemDescription">@Model.Description</p>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
