@model Library.Models.Index.RecentlyAddedAssetsLists

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Library catalogue</h1>
</div>


@if (@Model.RecentlyAddedBooks.Count() > 0)
{
    <div class="row lastAssetsMain">
        <h2 class="lastAssets">Recently added books</h2>
        <hr />
        @Html.Partial("_LastAssets", Model.RecentlyAddedBooks)
    </div>
}

@if (@Model.RecentlyAddedJournals.Count() > 0)
            {
    <div class="row lastAssetsMain">
        <h2 class="lastAssets">Recently added journals</h2>
        <hr />
        @Html.Partial("_LastAssets", Model.RecentlyAddedJournals)
    </div>
}

@if (@Model.RecentlyAddedBrochures.Count() > 0)
{
    <div class="row lastAssetsMain">
        <h2 class="lastAssets">Recently added brochures</h2>
        <hr />
        @Html.Partial("_LastAssets", Model.RecentlyAddedBrochures)
    </div>
}
